#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(41, 239, 6, 0.424);
}
nav a:hover {
    background-color: black;
    color: #396E94;
}
.icon {
    width: 80px;
}
hero-img {
    width: 100px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
} 
.book, .join {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
} 
footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}    
   
footer p a:hover {
    text-decoration: underline;
} 